body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
}
header {
    background-color: #333;
    color: white;
    /* padding: 1rem; */
}
nav a {
    color: white;
    /* margin-right: 1rem; */
    text-decoration: none;
}
footer {
    background-color: #333;
    color: white;
    /* padding: 1rem; */
    text-align: center;
}
.step {
    border: 4px solid #0c0909;
    align-items: center;
    
    margin-bottom: 20px;
    background-color: rgb(92, 156, 224);
    box-shadow: 
        0 0 10px rgba(0, 0, 0, 0.1), /* Top layer shadow */
        0 5px 15px rgba(0, 0, 0, 0.5), /* Bottom layer shadow */
        inset 0 0 10px rgba(255, 255, 255, 0.2); /* Inner shadow */
}
.step h2 {
    margin-top: 0;
}
.step img {
    max-width: 50%;
    height: auto;
}
.step pre {
    background-color: #bc6fef;
    /* padding: 10px; */
    border-radius: 3px;
}
.theory{
    font-size: 1.5rem;
}